@using ApplicationLayer.Models.ViewModels
@model IEnumerable<SepetVM> // List olduğu için IEnumrable kullanacam 


    <table class="table table-striped table-hover" >
        @foreach (var item in Model)
    {
        <tr>

            <td>@item.UrunAdi</td>
            <td>@item.Adet</td>


        </tr>
    }


    </table>