<h1> Burası Admin Paneli</h1>

<ul>

    
   <li><a asp-area="AdminPaneli" asp-controller="Urun" asp-action="Index">Ürün İşlemleri</a></li>
   <li><a asp-area="AdminPaneli" asp-controller="Kategori" asp-action="">Kategori İşlemleri</a></li>
   <li><a asp-area="AdminPaneli" asp-controller="Rapor" asp-action="">Raporlar</a></li>




</ul>